<h1>Word Puzzle</h1>

<div class="container">
  <form action="/word">
    <div class="">
      <input type="text" id="word" name="word" class="form-control">
    </div>
    <button type="submit" name="send" id="send" value="">Remove vowels!</button>
  </form>
</div>
