<div class="container">
  <div class="jumbotron" style="text-align:center;">
    <h2 class="result-header" id="result-header">Guess the word!</h2>
  </div>
  <div class="wrapper" style="text-align: center;">
    <h1 class="result-text" id="word_puzzle"><%= @no_vowels_word %></h1>
    <div id="answer" style="display: none;"><%= @answer %></div>
  </div>
</div>

<div class="container">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="well">
      <div class="" style="text-align:center;padding-bottom:12px;">
        <input id="user_guess" name="user_guess" type="text" class="form-control" placeholder="...">
      </div>
      <div class="" style="text-align:center;">
        <button id="submit_button" type="button" class="btn btn-success" name="submit_button" onclick="guess()">Guess</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  var answer = document.getElementById('answer').innerHTML;
  var word_puzzle_text = document.getElementById('word_puzzle').innerHTML;
  var submit_button = document.getElementById('submit_button');
  var bWrong = false;
  var wrong_interval;
  var puzzle_interval;

  function guess()
  {
    var user_guess = document.getElementById('user_guess').value;
    if( user_guess === answer )
    {
      if ( !bWrong )
      {
        document.getElementById('result-header').innerHTML = "Correct!";
        puzzle_interval = setInterval(changePuzzleText, 250);
      }
    }
    else
    {
      submit_button.innerHTML = "Wrong!";
      bWrong = true;
      wrong_interval = setInterval(resetGuess, 650);
    }
  }

  function changePuzzleText()
  {
    for( var i = 0; i < word_puzzle_text.length; i++ )
    {
      for( var j = 0; j < answer.length; j++ )
      {
        if( word_puzzle_text[ i ] == "-" && i === j )
        {
          word_puzzle_text = setCharAt( word_puzzle_text, i, answer[ j ] );
          document.getElementById('word_puzzle').innerHTML = word_puzzle_text;
          return;
        }
      }
    }
    clearInterval(puzzle_interval);
  }

  function resetGuess( )
  {
    submit_button.innerHTML = "Guess!";
    bWrong = false;
    clearInterval(wrong_interval);
  }

  function setCharAt( str,index,chr )
  {
      if( index > str.length-1 )
      {
        return str;
      }
      return str.substr( 0,index ) + chr + str.substr( index+1 );
  }
</script>
