<div class="container">
  <div class="jumbotron" style="text-align:center;">
    <h2 class="result-header" id="result-header">Guess the word!</h2>
  </div>
  <div class="wrapper" style="text-align: center;">
    <h1 class="result-text"><%= @no_vowels_word %></h1>
  </div>
</div>

<div class="container">
  <div class="well">
    <div class="" style="text-align:center;padding-bottom:12px;">
      <input id="user_guess" type="text" class="form-control" placeholder="...">
    </div>
    <div class="" style="text-align:center;">
      <button type="button" class="btn btn-success" name="button" onclick="guess()">Guess</button>
    </div>
  </div>
</div>

<div id="answer" style="display: none;"><%= @answer %></div>

<script type="text/javascript">
  function guess()
  {
    var user_guess = document.getElementById('user_guess').value;
    var answer = document.getElementById('answer').innerHTML;
    if( user_guess === answer )
    {
      document.getElementById('result-header').innerHTML = "Correct!";
    }
  }
</script>
